
13. 인간보다 퀴즈를 잘푸는 인공지능/data/korquad_bert_none_pretrain.hdf5
*.hdf5
13. 인간보다 퀴즈를 잘푸는 인공지능/data/kowiki.txt.zip
13. 인간보다 퀴즈를 잘푸는 인공지능/data/korquad_train.json
OCR live coding/TextRecognitionDataGenerator/
OCR live coding/deep-text-recognition-benchmark/
OCR live coding/TRDG2DTRB/
